<a href="https://colab.research.google.com/github/Misha-private/Demo-repo/blob/main/LearnPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Ime = "Monty"
n = 105
x = 203.65
print(type(Ime))
print(type(n))
print(type(x))
type(Ime)

<class 'str'>
<class 'int'>
<class 'float'>

str

# Modulus

In [ ]:
a = 10
b = 3
c = 4
print(f"a mod b = {a % b}")
print(f"a mod c = {a % c}")

a mod b = 1
a mod c = 2

# Floor division

In [ ]:
a // b, a/b

(3, 3.3333333333333335)

## Builtin functions

In [ ]:
print(min(1, 4, 5, 7))
print(max(1, 4, 5, 7))
print(abs(-10))
print(abs(10))

1
7
10
10

In [ ]:
print(float(10))
print(int(7.6))
print(int('314') + 1)
print(float('3.14'))

10.0
7
315
3.14

# Help

In [ ]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [ ]:
round(1.4572, 2)

1.46

In [ ]:
round(-2.01)

-2

In [ ]:
round(-2.111,1  )

-2.1

In [ ]:
round(-2.456,2)

-2.46

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print(2.1, 3.2, 4.3, sep='-')

2.1-3.2-4.3

# Defining Functions

In [ ]:
def least_diffference(a, b, c):
  diff1 = abs(a - b)
  diff2 = abs(a - c)
  diff3 = abs(b - c)
  return min(diff1, diff2, diff3)

print(
    least_diffference(1, 10, 100),
    least_diffference(1, 10, 10),
    least_diffference(5, 6, 7),   # Python allows trailing commas in argument lists!
)

9 0 1

In [ ]:
help(least_diffference)

Help on function least_diffference in module __main__:

least_diffference(a, b, c)

# I can supply a description in the *docstring*

In [ ]:
def least_difference(a, b, c):
    """Return the smallest difference between any two numbers
    among a, b and c.

    >>> least_difference(1, 5, -5)
    4
    """
    diff1 = abs(a - b)
    diff2 = abs(b - c)
    diff3 = abs(a - c)
    return min(diff1, diff2, diff3)

In [ ]:
help(least_difference)

Help on function least_difference in module __main__:

least_difference(a, b, c)
    Return the smallest difference between any two numbers
    among a, b and c.

    >>> least_difference(1, 5, -5)
    4

# Functions that don't return

In [ ]:
def print_twice(message):
    print(message)
    print(message)


print_twice('spam')

spam
spam

# Adding optional arguments with default values

In [ ]:
def greet(who="World"):
    print(f"Hello {who}!")

greet()
greet("Monty")
greet("Monty Python")

Hello World!
Hello Monty!
Hello Monty Python!

# Functions appliead to functions

In [ ]:
def mult_by_five(x):
    return x * 5

def call(fn, arg):
  """Call function fn with argument arg."""
  return fn(arg)

def squared_call(fn, arg):
  """Call fn on the result of calling fn on arg."""
  return fn(fn(arg))

print(
    call(mult_by_five, 2),
    squared_call(mult_by_five, 2),
    sep='\n',
)

10
50

In [ ]:
def fun(x):
    return x*(x +1 )

def fun2(fn, arg):
    return fn(fn(arg))

print(fun(1))
print(fun2(fun, 2))

2
42

In [ ]:
# Calling function from function and using optional 'key' argument
def mod_5(x):
    return x % 5

print(
    "Which name is biggest?",
    max(100, 51, 14),
    'Which name has the biggest modulus?',
    max(100, 51, 14, key=mod_5),
    sep = "\n",
)

Which name is biggest?
100
Which name has the biggest modulus?
14

In [ ]:
def round_two_places(x):
    return round(x, 2)

round_two_places(3.14159)

3.14

In [ ]:
help (round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [ ]:
print(round(1104.4572, -1))
print(round(1104.4572, -2))
print(round(1104.4572, -3))
print(round(1104.4572, -4))

1100.0
1100.0
1000.0
0.0

 ndigits=-1 rounds to the nearest 10, ndigits=-2 rounds to the nearest 100 and so on.

In [ ]:
print(round(1104.4572, -1))
print(round(1174.4572, -1))

1100.0
1170.0

In [ ]:
round_two_places(9.9999)

10.0

In [ ]:
round(9.9999,3)
round(3.789654, 2)

3.79

# Booleans and Conditionals

In [ ]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

# Comparison operations

a == b , a equal to b

a > b  , a greater than b

a >= b , a greater or equal to b

a != b , a not equal to b

a < b  ,  a less than b

a <= b ,  a less or equal to b

In [ ]:
def can_run_for_president(age):
    """Can someone of the given age run for president in the US?"""
    # The US Constitution says you must be at least 35 years old
    return age >= 35

print("Can a 19-year-old run for president?", can_run_for_president(19))
print("Can a 45-year-old run for president?", can_run_for_president(45))

Can a 19-year-old run for president? False
Can a 45-year-old run for president? True

In [ ]:
3. == 3.0

True

In [ ]:
'3' == 3

False

In [ ]:
def is_odd(n):
    return n % 2 == 1

print(is_odd(1))
print(is_odd(2))

True
False

# and, or, and not

In [ ]:
def can_run_for_president(age, born_cirizen):
    """Can someone of the given age and born in the US run for president?"""
    return age >= 35 and born_cirizen

print("Can a 19-year-old run for president?", can_run_for_president(19, True))
print("Can a 45-year-old run for president?", can_run_for_president(45, False))

Can a 19-year-old run for president? False
Can a 45-year-old run for president? False

In [ ]:
True or True and False # and has larger precedance than or

True

In [ ]:
(True or True) and False

False

# Conditionals

In [ ]:
def inspect(x):
  if x == 0:
    print(x, 'is zero')
  elif x > 0:
    print(x, 'is positive')
  elif x < 0:
    print(x, 'is negative')
  else:
    print(x, 'is not a number')

inspect(0)
inspect(1)
inspect(-1)
#inspect('spam')

0 is zero
1 is positive
-1 is negative

# bool function

In [ ]:
print(bool(1))
print(bool(0))
print(bool("asf"))
print(bool(""))

True
False
True
False

In [ ]:
if 0:
    print(0)
elif "spam":
    print("spam")

spam

In [ ]:
def sign(x):
    if x > 0:
        y = 1
    elif x < 0:
        y = -1
    else:
        y = 0
    return(y)

print((sign(1), sign(0), sign(-1)))

(1, 0, -1)

In [ ]:
def to_smash(total_candies):
    """Return the number of leftover candies that must be smashed after distributing
    the given number of candies evenly between 3 friends.

    >>> to_smash(91)
    1
    """

    if total_candies > 1:
        print("Splitting", total_candies, "candies")
    else:
        print("Splitting", total_candies, "candy")

    return total_candies % 3


to_smash(91)
to_smash(1)

Splitting 91 candies
Splitting 1 candy

1

In [ ]:
def is_negative(number):
  return True if number < 0 else False

print(is_negative(-1))
print(is_negative(1))

True
False

# Lists

In [ ]:
primes = [2, 3, 5, 7]
print(primes)
print(primes[0])
print(primes[1])
print(primes[2])
print(primes[3])

[2, 3, 5, 7]
2
3
5
7

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars']
print(planets)
print(planets[0])
print(planets[1])
print(planets[2])
print(planets[3])

['Mercury', 'Venus', 'Earth', 'Mars']
Mercury
Venus
Earth
Mars

# A list of lists

In [ ]:
hands = [
        ['J','Q','K'],
        ['2','2','2'],
        ['6','A','K'],
        ]

print(hands)
print(hands[0])
print(hands[1])
print(hands[2])

[['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]
['J', 'Q', 'K']
['2', '2', '2']
['6', 'A', 'K']

# Mix of different types of variables

In [ ]:
my_list = [32, 'raindops on roses', help]
print(my_list)

[32, 'raindops on roses', Type help() for interactive help, or help(object) for help about object.]

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print(planets)
print(planets[0])
print(planets[1])
print(planets[2])
print(planets[3])

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
Mercury
Venus
Earth
Mars

In [ ]:
planets[-1]

'Neptune'

In [ ]:
planets[-2]

'Uranus'

# Slicing

In [ ]:
planets[0:4] # Not including index 4!

['Mercury', 'Venus', 'Earth', 'Mars']

In [ ]:
planets[:4]

['Mercury', 'Venus', 'Earth', 'Mars']

In [ ]:
planets[4:]

['Jupiter', 'Saturn', 'Uranus', 'Neptune']

# All the planetrs except first and last

In [ ]:
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [ ]:
# The last 3 planets
planets[-3:]

# Changing lists
# ** lists are mutable **

In [ ]:
planets[3] = 'Malcacndra'
print(planets)

['Mercury', 'Venus', 'Earth', 'Malcacndra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# List functions

In [ ]:
# How manu planets is there?
len(planets)

8

In [ ]:
# Sorted in alphabetica order
sorted(planets)

['Earth',
 'Jupiter',
 'Malcacndra',
 'Mercury',
 'Neptune',
 'Saturn',
 'Uranus',
 'Venus']

In [ ]:
# Sum, min, max
primes = [2, 3, 5, 7]
print(sum(primes))
print(min(primes))
print(max(primes))

min1 = min(primes)
max1 = max(primes)

index_of_min1 = primes.index(min1)
index_of_max1 = primes.index(max1)

print(index_of_max1)
print(index_of_min1)

17
2
7
3
0
2

In [ ]:
a = primes[2]
ind_a = primes.index(a)
print(ind_a)

2

# Objects
Carry some things aruond. You access that stuff using dot syntax.

In [ ]:
# Commplex numbers
c = 3 + 4j
print(c)
print(type(c))

(3+4j)
<class 'complex'>

In [ ]:
print(f"real part of c = {c.real}")
print(f"imaginary part of c = {c.imag}")

real part of c = 3.0
imaginary part of c = 4.0

# A function attached to an object is called *method*
# Non-function thing attached to an object is called *atribute*

In [ ]:
x = 12
print(x.bit_length())
print(type(x.bit_length()))

4
<class 'int'>

In [ ]:
# Passing function to a method
help(x.bit_length)

Help on built-in function bit_length:

bit_length() method of builtins.int instance
    Number of bits necessary to represent self in binary.

    >>> bin(37)
    '0b100101'
    >>> (37).bit_length()
    6

# List methods

In [ ]:
# list.append - adds an item to the end of a list
planets.append('Pluto')
planets

['Mercury',
 'Venus',
 'Earth',
 'Malcacndra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto',
 'Pluto']

In [ ]:
# list.pop - reterurs and remove the last element of a list
planets.pop()

'Pluto'

In [ ]:
planets

['Mercury',
 'Venus',
 'Earth',
 'Malcacndra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [ ]:
# list.index - give us the index of an element in the list
planets.index('Earth')

2

In [ ]:
# in operator
"Earth" in planets

True

In [ ]:
"Calbefraqyes" in planets

False

In [ ]:
# All list methods
help(planets)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

# Tuples

In [ ]:
# 1. Use parentheses instead of square brackets
t = (1, 2, 3)
print(t)
print(type(t))

(1, 2, 3)
<class 'tuple'>

In [ ]:
# 2. They cannot be modified (immutable)
t[0] = 4

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Tuples are often used for functions that have multiple return values
x = 0.125
x.as_integer_ratio()

(1, 8)

In [ ]:
nominator, denominator = x.as_integer_ratio()
print(nominator / denominator)

0.125

In [ ]:
# Swapping two variables
a = 1
b = 0
a, b = b, a
print(a, b)

0 1

# Tests

In [ ]:
atest = [1, 2]
print(len(atest))

2

In [ ]:
a=[1]
print(len(a))

1

In [ ]:
a = [1, 3, 8, 10, 15]
if len(a) > 1:
  print(a[1])
else:
  print(None)

3

In [ ]:
t1 = [1, 2, 3]
t2 = [4, 5, 6]
t3 = [7, 8, 9]
list = [t1 ,t2, t3]

print(list[0][1])

2

In [ ]:
a = [1, 2, 3]
len(a)
b = [1, [2, 3]]
len(b)
c = []
len(c)
d = [1, 2, 3][1:]
len(d)

2

In [ ]:
a = [1, 2, 3]
a2 = [[1, 2, 3],[4, 5, 6]]
len(a2)
d = [1, 2, 3][1:]
print(d)

[2, 3]

In [ ]:
d = [1, 2, 3][-1]
print(d)

3

In [ ]:
d2 =[[1, 2, 3],[4, 5, 6]][1][:]
print(d2)

[4, 5, 6]

In [ ]:
attendies = ['Joe', 'Bill','John']
name = 'John'
j = attendies.index(name)
print(j)
print(len(attendies))

2
3

In [ ]:
q = [1, 2, 3, 4]
q.index(1)

0

In [ ]:
arrivals = ['Paul', 'John', 'Ringo', 'George']
print(arrivals.index('Ringo'))

def fashionable_late(arrivals, name):
  jj = arrivals.index(name)
  if (jj >= len(arrivals)/2) and (jj < len(arrivals)-1 ):
    return True
  else:
    return False

print(fashionable_late(arrivals, 'Ringo'))

2
True

# Loops and List Comprehension

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
  print(planet, end= ' ')

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

In [ ]:
multiplicants =(2, 2, 2, 3, 3, 5)
procudt = 1
for multiplier in multiplicants:
  procudt *= multiplier
print(procudt)

360

In [ ]:
# Looping through characters in a string

s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
msg = ''
# print all the uppercase letters in s, one at a time
for char in s:
    if char.isupper():
        print(char, end='')

HELLO

# range() - returns a seuqence of numbers

In [ ]:
for i in range(10):
  print(f"i = {i}")

i = 0
i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
i = 8
i = 9

# while loops

In [ ]:
i = 0
while i < 10:
  print(f"i = {i}")
  i += 1

i = 0
i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
i = 8
i = 9

# List comprehension

In [ ]:
squares = [n**2 for n in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares = []
for n in range(10):
  squares.append(n**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# We can add 'if' condition
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

short_planets = [planet for planet in planets if len(planet) < 6]
short_planets

['Venus', 'Earth', 'Mars']

In [ ]:
# str_upper
upper_planets = [planet.upper() + '!' for planet in planets if len(planet) < 6]
upper_planets

['VENUS!', 'EARTH!', 'MARS!']

In [ ]:
[
    planet.upper()+ '!'
    for planet in planets
    if len(planet) < 6
]

['VENUS!', 'EARTH!', 'MARS!']

In [ ]:
[32 for planet in planets]

[32, 32, 32, 32, 32, 32, 32, 32]

In [ ]:
def count_negatives(nums):
    """Return the number of negative numbers in the list nums."""
    count = 0
    for num in nums:
        if num < 0:
            count += 1
    return count

nnums = [-1, 2, -3, 4, -5, 7]
print(count_negatives(nnums))

3

In [ ]:
# The same using list comprehension
def count_negatives(nums):
    """Return the number of negative numbers in the list nums."""
    return len([num for num in nums if num < 0])
print(count_negatives(nnums))

3

# Exercies

In [ ]:
def has_lucky_number(nums):
  for num in nums:
    if num % 7 == 0:
      return True
  return False


print(has_lucky_number([ 1, 2, 3, 4, 5, 6, 8, 9, 13, 14]))

True

In [ ]:
def elementwise_greater_than(L, thresh):
  res = []
  for num in L:
    if num > thresh:
      res.append(True)
    else:
      res.append(False)
  return res

print(elementwise_greater_than([1, 2, 3, 4], 2))

[False, False, True, True]

In [ ]:
def menu_is_boring(meals):
  for i in range(1:len(meals)):
    if meals[i] == meals[i-1]:
      return True
  return False



print(menu_is_boring(['eggs', 'spam', 'bacon', 'spinach', 'bread']))

In [ ]:
a = [1, 2, 3, 4]
b = a.pop(0)
print(b)
print(a)

1
[2, 3, 4]

In [ ]:
meals = ['eggs', 'spam', 'bacon', 'spinach', 'bread']

for i in range(len(meals)):
  for j in range(len(meals)):
    if (meals[i] == meals[j]) and (i != j):
      return True

spam eggs
bacon spam
spinach bacon
bread spinach

In [ ]:
meals = ['eggs', 'spam', 'bacon', 'spinach', 'bread']
print(len(meals))
for i in range(len(meals)):
  print(i, meals[i])

5
0 eggs
1 spam
2 bacon
3 spinach
4 bread

In [ ]:

def menu_is_boring(meals):

  num = len(meals)
  meals_c = meals.copy()

  for i in range(1,num):
    if meals[i] == meals[i-1] :
      return True
  return False



meals = ['Spam', 'Eggs', 'Spam', 'Spam', 'Bacon', 'Spam']
menu_is_boring(meals)

True

In [ ]:
meal = ['eggs', 'spam', 'bacon', 'spinach', 'bread']
meal.pop(0)
print(meal)

['spam', 'bacon', 'spinach', 'bread']

In [ ]:
n_runs = 10
for i in range(n_runs):
  print(i)

0
1
2
3
4
5
6
7
8
9

# Strings and Dictionaries

In [ ]:
from numpy import random

random.seed(1234)
2* random.random((2,2)) -1

array([[-0.6169611 ,  0.24421754],
       [-0.12454452,  0.57071717]])

# Exercises Functions

In [ ]:
def round_to_two_places(num):
  """Round the given number to two decimal places."""
  num = num * 100
  num = round(num)
  num = num / 100
  return round(num, 2)

print(round_to_two_places(3.1415926))

3.14

In [ ]:
round(759.5444,-3)

1000.0

# Strings and Dictionaries

In [ ]:
x = 'Pluto is a planet'
y = 'Pluto is a planet'
x == y

True

In [ ]:
"Pluto\'s a planet"

"Pluto's a planet"

In [ ]:
hello = 'Hello\nworld'
print(hello)

Hello
world

In [ ]:
triplequated_hello = """Hello
world"""
print(triplequated_hello)
triplequated_hello == hello

Hello
world

True

In [ ]:
# Indexing
planet = 'Pluto'
planet[0]

'P'

In [ ]:
# Slicing
planet[-3:]

'uto'

In [ ]:
len(planet)

5

In [ ]:
# Loooing over characters
[char+'!' for char in planet]

['P!', 'l!', 'u!', 't!', 'o!']

In [ ]:
# Stringa are immutable - we cannot change them
planet[0] = 'B'

TypeError: 'str' object does not support item assignment

# String methods

In [ ]:
# ALL CAPS
claim = 'Pluto is a planet'
claim.upper()

'PLUTO IS A PLANET'

In [ ]:
# All lowercawe
claim.lower()

'pluto is a planet'

In [ ]:
# Serching for the first string of a substring
claim.find('plane')

11

In [ ]:
claim.startswith(planet)

True

In [ ]:
claim.endswith('planet')

True

In [ ]:
words = claim.split()
print(words)

['Pluto', 'is', 'a', 'planet']

In [ ]:
datastr = '123,456,789'
datastr.split(',')

['123', '456', '789']

In [ ]:
'/'.join(words)

'Pluto/is/a/planet'

# Building strings with .format

In [ ]:
planet + ', we miss you'

'Pluto, we miss you'

In [ ]:
position = 0
planet + ", you'll alawys be the "+ str(position) + "t planet to me"

"Pluto, you'll alawys be the 0t planet to me"

In [ ]:
# Or
"{}, you'll alawys be the {}t planet to me".format(planet, position)

"Pluto, you'll alawys be the 0t planet to me"

In [ ]:
"England : Serbia = {} : {}".format(3, 1)

'England : Serbia = 3 : 1'